*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 70%;
    height: 100vh;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 margin: 20px auto;
 border-radius: 50%;


}
.container img{
    width: 70%;
    height: 100vh;
    border-radius: 50%;
    box-shadow: 2px 2px 100px black;
}
.container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 3px;
}
.container h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 3px;
}

.quotes{
    width: 80%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: white;
    font-size: 20px;
    font-weight: 500;

}
.quotes h2{
    font-size: 35px;
    margin-top: 10px;
    font-weight: 500;
}


body{
    /* display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color:  rgba(255, 0, 255, 0.378);
    font-family: "poppins" sans-serif;
     background: radial-gradient(red,black,yellow); */

} 

.clock{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: whitesmoke;
    border: 5px solid white;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}
.clock ul li span{
    transform: rotate(calc(-30deg * var(--i)));
 display: inline-block;
}
.clock:after{
    content: '';
    width: 20px;
    height: 20px;
    border: white;
    border-radius: 50%;
    position: absolute;
}
.needle{
    display: flex;
    justify-content: center;
    align-items: normal;
}
.needle span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 50%;

} 

.clock{
    width: 500px;
    height: 500px;
    position: relative;
    background-color: antiquewhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, black, blue);
}
.number{
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
}
.number b{
    transform: rotate(calc(-30deg * var(--n)));
   display: inline-block;
}
.centerdot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
}
.hourhand, .munitehand, .secondhand{
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
 transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
transform-origin: bottom;
}
.hourhand{
    width: 17px;
    height: 130px;
    background-color: white;
}
.munitehand{
    width: 20px;
    height: 130px;
    background-color: blue;
}
.secondhand{
    width: 6px;
    height: 210px;
    background-color: red;
}